<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', primaryColour: '#3498db' }"></ngx-loading>

<div class="container-fluid px-3">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center py-3">
    <h3 class="mb-2 mb-md-0">🚍 Gestión de Buses</h3>
    <button class="btn btn-primary">
      <i class="fas fa-plus me-2"></i> Agregar Bus
    </button>
  </div>

  <div class="table-responsive">
    <ag-grid-angular
      style="min-width: 600px; height: auto;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="{ flex: 1, resizable: true }"
      [pagination]="true"
      [paginationPageSize]="20"
      [localeText]="localeText"
      [domLayout]="'autoHeight'">
    </ag-grid-angular>
  </div>
</div>
